{% extends 'base.html' %}

{% block head %}
<title>Salary Prediction</title>
{% endblock %}

{% block body %}

 <div class="login">
	<h1>Salary Manager App</h1>
	<hr>
	<h2>Predict the salary of an employee using his yrs of experience, test and interview score<h2>
	<br>
	<h2>Enter Below:</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="experience" placeholder="Experience" required="required" />
        <input type="text" name="test_score" placeholder="Test Score" required="required" />
		<input type="text" name="interview_score" placeholder="Interview Score" required="required" />
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <h3>{{ prediction_text }}</h3>
     
 </div>


{% endblock %}